
.course_form{
    background: #f6f5f3;
    grid-area: main;
    overflow-x: auto;
    overflow-y: auto;
  }
  .form_area {
    display: grid;
    grid-template-columns:1fr;
    gap:30px;
    margin:5px 50px 25px 50px ;
  }