
  /* .wrapper{
    width:50%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 60px 50px;
    background:#fff;
    border-radius:4px;
    
  } */
  .canvas{
    background:rgb(158, 179, 216);
    height:250px;
  }
  .canvas1{
    background:rgb(165, 216, 158);
    height:250px;
  }
  