  /* .wrapper{
    width:50%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 60px 50px;
    background:#fff;
    border-radius:4px;
    
  } */
  .report{
    background: #f6f5f3;
    grid-area: main;
    overflow-x: auto;
    overflow-y: auto;
  }
  .all_chart {
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap:30px;
    margin-top: 50px 5px;
  }

  .all_charts__left {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px  #ededed , -5px -5px 13px #ffffff;
}
  .all_charts__Mid {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px  #ededed , -5px -5px 13px #ffffff;
}
  .all_charts__Right {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px  #ededed , -5px -5px 13px #ffffff;
}

.all_charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all_charts__left__title > div >h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.all_charts__left__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
.all_charts__mid__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all_charts__mid__title > div >h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.all_charts__mid__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
.all_charts__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all_charts__right__title > div >h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.all_charts__right__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
  .canvas{
    background:rgb(158, 179, 216, 0.322);
    height:250px;
  }
  .canvas1{
    background:rgba(132, 187, 125, 0.322);
    height:250px;
  }
  .canvas2{
    background:rgba(189, 178, 142, 0.322);
    height:250px;
  }
  